<!DOCTYPE html>
<html>
	<head>
		<title>Branches</title>
		<% include ./partials/head.ejs %>
		<script src="/js/head.js"></script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%if (branches.length > 0) { %>
			    			<h2>Branches</h2>
			    			<!--a style="float: right; margin-top: -41px;" onclick="goBack()"><button type="button" class="btn btn-sky">Back</button></a-->
			    			<a id="back" class="btn btn-sky" onclick="window.history.back();" style="float: right; margin-top: -41px;">&larr;&nbsp; Back</a>
			    			<div class="table-responsive">
				      			<table id="branches" class="table table-bordred table-striped">
								<thead>
									<th>Branch Name</th>
									<th>User Name</th>
									<th>Date</th>
									<th>Automation Status</th>
									<th>Automation Status Description</th>
									<!--<th>Merging Status</th>-->
									<th>Run Automation</th>
									<!--<th>Run Backstop</th>-->
								</thead>
				    				<tbody>
				    					<% branches.forEach(function(branch){ %>
										<tr>
											<td><a href="branches/<%= branch.name %>" ><%= branch.name %></a></td>
											<td><%= branch.userName %></td>
											<td><%= branch.date_to_show %></td>
											<!--<td><form class="backstop_form_button" action="/backstop/<%= branch.name %>" target="_blank" method="get"><a class="run_backstop" id="<%= branch.name %>"><button type="submit" class="btn btn-primary">Run</button></a></form></td>-->
											<td><%= branch.automationStatus %></td>
											<td><%= branch.description %></td>
											<!--<% if(branch.automationStatus == 'success') { %>
												<td>Automatically Mergable</td>
											<% } else {%>
												<td>Not Automatically Mergable</td>
											<% } %>-->
											<td><form class="automation_form_button" target="_blank" action="/automate/<%= branch.name %>" method="post"><a class="run_automation" id="<%= branch.name %>"><button type="submit" class="btn btn-primary">Run</button></a></form></td>
											<!--<td><form class="backstop_form_button" target="_blank" action="" method="post"><a class="run_backstop" id="<%= branch.name %>"><button type="submit" class="btn btn-primary">Run</button></a></form></td>-->
										</tr>
									<%  }); %>
								</tbody>
							</table>
		    				</div>
	    				<% } %>
				</div>
			</div>
		</div>
	</body>
</html>
