<!DOCTYPE html>
<html>
	<head>
		<title>Pull Requests</title>
		<% include ./partials/head.ejs %>
		<script>
			function goBack() {
				window.history.back();
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%if (pullRequests.length > 0) { %>
						<h2>Pull Requests</h2>
						<a id="back" class="btn btn-sky" onclick="window.history.back();" style="float: right; margin-top: -41px;">&larr;&nbsp; Back</a>
						<div class="table-responsive">
				      <table id="pullRequests" class="table table-bordred table-striped">
								<thead>
									<!--<th>Pull Request Name</th>-->
									<th>Branch Name</th>
									<th>Username</th>
									<th>Date</th>
									<th>Status</th>
									<!--<th>Merged</th>-->
									<th>Mergable</th>
									<th>Automation Status</th>
									<th>Reviews</th>
								</thead>
			    			<tbody>
			    				<% pullRequests.forEach(function(pullRequest){ %>
										<tr>
											<td width="350px;"><%= pullRequest.name %></td>
											<td><%= pullRequest.username %></td>
											<td><%= pullRequest.date %></td>
											<% if(pullRequest.state == 'open') { %>
												<td class="text-success"><%= pullRequest.state %></td>
											<% } else { %>
												<td class="text-danger"><%= pullRequest.state %></td>
											<% } %>
											<!--<% if(pullRequest.merged) { %>
												<td>YES</td>
											<% } else { %>
												<td>NO</td>-->
											<% } %>
											<% if(pullRequest.mergeable === true) { %>
												<td>YES</td>
											<% } else { %>
												<td>NO</td>
											<% } %>
											<td><%= pullRequest.automationStatus %></td>
											<td><a href="reviews/<%= pullRequest.number %>">View Status</a></td>
										</tr>
									<%  }); %>
								</tbody>
							</table>
				    </div>
			    <% } %>
				</div>
			</div>
		</div>
	</body>
</html>
